<!DOCTYPE html>
<html>
  <head>
    <title>Creater</title>
    <link rel="My Website Icon" href="resource/N logo.png" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body oncontextmenu='return false' class='snippet-body'>
    <table width="1014" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-bottom: 300px;">
      <tr>
        <td height="250" colspan="5" align="center" valign="middle">
          <img src="resource/Untitled-1.png">
        </td>
      </tr>
      <tr>
        <td colspan="5" bgcolor="#212121"><marquee style="color: #ffffff;">Creative Projects Created By CornaeX</marquee></td>
      </tr>
        <tr>
          <td style="text-align: center; padding: 0; margin: 0; width: 204px; height: 72px;">
            <button type="button" style="display: none;"></button>
            <a class="a" href="/arduino" style="display: flex; align-items: center; justify-content: center; padding: 0; margin: 0; width: 204px; height: 72px; font-size: 20px;">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Arduino
              <img src="Section_Banner/S_Banner_Arduino.png" style="position: absolute; opacity: 40%; z-index: -1;">
            </a>
          </td>
          <td style="text-align: center; padding: 0; margin: 0; width: 204px; height: 72px;">
            <button type="button" style="display: none;"></button>
            <a class="a" href="/ipst" style="display: flex; align-items: center; justify-content: center; padding: 0; margin: 0; width: 204px; height: 72px; font-size: 20px;">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              IPST
              <img src="Section_Banner/S_Banner_IPST.png" style="position: absolute; opacity: 40%; z-index: -1;">
            </a>
          </td>
          <td style="text-align: center; padding: 0; margin: 0; width: 204px; height: 72px;">
            <button type="button" style="display: none;"></button>
            <a class="a" href="/esp8266" style="display: flex; align-items: center; justify-content: center; padding: 0; margin: 0; width: 204px; height: 72px; font-size: 20px;">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              ESP8266
              <img src="Section_Banner/S_Banner_ESP8266.png" style="position: absolute; opacity: 40%; z-index: -1;">
            </a>
          </td>
          <td style="text-align: center; padding: 0; margin: 0; width: 204px; height: 72px;">
            <button type="button" style="display: none;"></button>
            <a class="a" href="/openkb" style="display: flex; align-items: center; justify-content: center; padding: 0; margin: 0; width: 204px; height: 72px; font-size: 20px;">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Open KB
              <img src="Section_Banner/S_Banner_OpenKB.png" style="position: absolute; opacity: 40%; z-index: -1;">
            </a>
          </td>
          <td style="text-align: center; padding: 0; margin: 0; width: 204px; height: 72px;">
            <button type="button" style="display: none;"></button>
            <a class="hovered" href="/creater" style="display: flex; align-items: center; justify-content: center; padding: 0; margin: 0; width: 204px; height: 72px; font-size: 20px;">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              ผู้จัดทำ
              <img src="Section_Banner/S_Banner_Creater.png" style="position: absolute; opacity: 0%; z-index: -1;">
            </a>
          </td>
        </tr>
        <tr>
          <td height="262" colspan="5" valign="top" bgcolor="#323232">
            <p style="font-size: 60px; color: white; display: flex; justify-content: center; margin-top: 40px;">ผู้จัดทำ</p>
            
            <p style="font-size: 30px; color: white; display: flex; justify-content: center; margin-top: 60px;">นายนิพิฐพนธ์ บุณยาทร เลขที่ 14 ม.5/4</p>
            <span style="height: 400px; justify-content: center; display: flex ;margin-top: 10px;">
              <img src="resource/Nipitpon.jpg" />
            </span>

            <p style="font-size: 30px; color: white; display: flex; justify-content: center; margin-top: 60px;">นายภวัต ภวังครัตน์ เลขที่ 1 ม.5/4</p>
            <span style="height: 400px; justify-content: center; display: flex ;margin-top: 10px;">
              <img src="resource/Pawat.jpg" />
            </span>
          </td>
        </tr>
        <tr>
          <td colspan="5" align="center" valign="middle" bgcolor="#212121">
            <p style="color: #ffffff;">งานกลุ่ม : CornaeX<br>เว็บไซต์นี้เป็นส่วนหนึ่งของวิชา การเขียนเว็บเพจ1 ว32296 อ.อุเทน สุขสิงห์ ผู้สอน</p>
          </td>
        </tr>
      </table>
      <script src="script.js"></script>
    </body>
  </html>