<!DOCTYPE html>
<html>
  <head>
    <title>ESP8266</title>
    <link rel="My Website Icon" href="resource/N logo.png" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body oncontextmenu='return false' class='snippet-body'>
    <table width="1014" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-bottom: 300px;">
      <tr>
        <td height="250" colspan="5" align="center" valign="middle">
          <img src="resource/Untitled-1.png">
        </td>
      </tr>
      <tr>
        <td colspan="5" bgcolor="#212121"><marquee style="color: #ffffff;">Creative Projects Created By CornaeX</marquee></td>
      </tr>
        <tr>
          <td style="text-align: center; padding: 0; margin: 0; width: 204px; height: 72px;">
            <button type="button" style="display: none;"></button>
            <a class="a" href="/arduino" style="display: flex; align-items: center; justify-content: center; padding: 0; margin: 0; width: 204px; height: 72px; font-size: 20px;">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Arduino
              <img src="Section_Banner/S_Banner_Arduino.png" style="position: absolute; opacity: 40%; z-index: -1;">
            </a>
          </td>
          <td style="text-align: center; padding: 0; margin: 0; width: 204px; height: 72px;">
            <button type="button" style="display: none;"></button>
            <a class="a" href="/ipst" style="display: flex; align-items: center; justify-content: center; padding: 0; margin: 0; width: 204px; height: 72px; font-size: 20px;">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              IPST
              <img src="Section_Banner/S_Banner_IPST.png" style="position: absolute; opacity: 40%; z-index: -1;">
            </a>
          </td>
          <td style="text-align: center; padding: 0; margin: 0; width: 204px; height: 72px;">
            <button type="button" style="display: none;"></button>
            <a class="hovered" href="/esp8266" style="display: flex; align-items: center; justify-content: center; padding: 0; margin: 0; width: 204px; height: 72px; font-size: 20px;">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              ESP8266
              <img src="Section_Banner/S_Banner_ESP8266.png" style="position: absolute; opacity: 0%; z-index: -1;">
            </a>
          </td>
          <td style="text-align: center; padding: 0; margin: 0; width: 204px; height: 72px;">
            <button type="button" style="display: none;"></button>
            <a class="a" href="/openkb" style="display: flex; align-items: center; justify-content: center; padding: 0; margin: 0; width: 204px; height: 72px; font-size: 20px;">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Open KB
              <img src="Section_Banner/S_Banner_OpenKB.png" style="position: absolute; opacity: 40%; z-index: -1;">
            </a>
          </td>
          <td style="text-align: center; padding: 0; margin: 0; width: 204px; height: 72px;">
            <button type="button" style="display: none;"></button>
            <a class="a" href="/creater" style="display: flex; align-items: center; justify-content: center; padding: 0; margin: 0; width: 204px; height: 72px; font-size: 20px;">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              ผู้จัดทำ
              <img src="Section_Banner/S_Banner_Creater.png" style="position: absolute; opacity: 40%; z-index: -1;">
            </a>
          </td>
        </tr>
        <tr>
          <td height="262" colspan="5" valign="top" bgcolor="#323232">
            &nbsp;
            <div style="text-align: center;">
              <a href="https://www.cybertice.com/article/79/สอนใช้งาน-nodemcu-esp8266-เริ่มต้นติดตั้ง-nodemcu-esp8266-ลงบน-arduino-ide" target="_blank">
                <img src="resource/ESP8266/ESP1.png" style="height: 166px; display: inline-block; margin: 0;">
              </a>
              <a href="https://www.cybertice.com/article/79/สอนใช้งาน-nodemcu-esp8266-เริ่มต้นติดตั้ง-nodemcu-esp8266-ลงบน-arduino-ide" target="_blank">
                <img src="resource/ESP8266/ESP2.png" style="height: 170px; display: inline-block; margin: 0; margin-left: 20px;">
              </a>
            </div>

            <p style="color: #ffffff; padding: 25px; font-family: cursive; font-style: italic;">ESP8266 คืออะไร</p>
            <p style="color: #ffffff; padding: 25px; font-family: cursive; margin-top: -22px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ESP8266 คือโมดูล WiFi จากจีน ผู้สร้างชิพ ESP คือ Teo Swee Ann ชาวสิงคโปร์แห่งบริษัท Espressif System โดยในโมดูลประกอบด้วยชิป Microcontroller + WiFi Module และมีพื้นที่โปรแกรมที่มากถึง 4MB ทำให้มีพื้นที่เหลือมากในการเขียนโปรแกรมลงไป ESP8266 เป็นชื่อของชิปไอซีบนบอร์ดของโมดูล ซึ่งไอซี ESP8266 ไม่มีพื้นที่โปรแกรม (flash memory) ในตัว ทำให้ต้องใช้ไอซีภายนอก (external flash memory) ในการเก็บโปรแกรม ที่ใช้การเชื่อมต่อผ่านโปรโตคอล SPI ซึ่งสาเหตุนี้เองทำให้โมดูล ESP8266 มีพื้นที่โปรแกรมมากกว่าไอซีไมโครคอนโทรลเลอร์เบอร์อื่นๆ ESP8266 ทำงานที่แรงดันไฟฟ้า 3.3V - 3.6V การนำไปใช้งานร่วมกับเซ็นเซอร์อื่นๆที่ใช้แรงดัน 5V ต้องใช้วงจรแบ่งแรงดันมาช่วย เพื่อไม่ให้โมดูลพังเสียหาย กระแสที่โมดูลใช้งานสูงสุดคือ 200mA ความถี่คริสตอล 40MHz ทำให้เมื่อนำไปใช้งานอุปกรณ์ที่ทำงานรวดเร็วตามความถี่ เช่น LCD ทำให้การแสดงผลข้อมูลรวดเร็วกว่าไมโครคอนโทรลเลอร์<br>ยอดนิยมอย่าง Arduino มาก</p>
            
            <p style="color: #ffffff; padding: 25px; font-family: cursive; margin-top: -10px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ESP32 เป็นชื่อของไอซีไมโครคอนโทรลเลอร์ที่รองรับการเชื่อมต่อ WiFi และ Bluetooth 4.2 BLE ในตัว ผลิตโดยบริษัท Espressif จากประเทศจีน โดยราคา ณ ที่เขียนบทความอยู่นี้ มีราคาไม่เกิน 500 บาท (บอร์ดพัฒนาสำเร็จรูป) โดยตัวไอซี ESP32 มีสเปคโดยละเอียด ดังนี้</p>
            <p style="color: #ffffff; padding: 25px; font-family: cursive; margin-top: -22px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- ซีพียูใช้สถาปัตยกรรม Tensilica LX6 แบบ 2 แกนสมอง สัญญาณนาฬิกา 240MHz</p>
            <p style="color: #ffffff; padding: 25px; font-family: cursive; margin-top: -36px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- มีแรมในตัว 512KB</p>
            <p style="color: #ffffff; padding: 25px; font-family: cursive; margin-top: -36px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- รองรับการเชื่อมต่อรอมภายนอกสูงสุด 16MB</p>
            <p style="color: #ffffff; padding: 25px; font-family: cursive; margin-top: -36px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- มาพร้อมกับ WiFi มาตรฐาน 802.11 b/g/n รองรับการใช้งานทั้งในโหมด Station softAP และ Wi-Fi direct</p>
            <p style="color: #ffffff; padding: 25px; font-family: cursive; margin-top: -36px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- มีบลูทูธในตัว รองรับการใช้งานในโหมด 2.0 และโหมด 4.0 BLE</p>
            <p style="color: #ffffff; padding: 25px; font-family: cursive; margin-top: -36px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- ใช้แรงดันไฟฟ้าในการทำงาน 2.6V ถึง 3V</p>
            <p style="color: #ffffff; padding: 25px; font-family: cursive; margin-top: -36px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- ทำงานได้ที่อุณหภูมิ -40◦C ถึง 125◦C</p>

            <div style="text-align: center;">
              <a href="https://www.cybertice.com/article/226/สอนใช้งาน-esp32-เริ่มต้นใช้งาน-ติดตั้งโปรแกรมเบื้องต้น-esp32" target="_blank">
                <img src="resource/ESP8266/ESP3.png" style="height: 166px; display: inline-block; margin: 0;">
              </a>
              <a href="https://www.cybertice.com/article/226/สอนใช้งาน-esp32-เริ่มต้นใช้งาน-ติดตั้งโปรแกรมเบื้องต้น-esp32" target="_blank">
                <img src="resource/ESP8266/ESP4.png" style="height: 270px; display: inline-block; margin: 0; margin-left: 25px;">
              </a>
              <a href="https://www.cybertice.com/article/613/สอนใช้งาน-esp32s-nodemcu-esp-wroom-32s-wi-fi-and-bluetooth-module-dual-core-consumption-ch340c" target="_blank">
                <img src="resource/ESP8266/ESP5.png" style="height: 270px; display: inline-block; margin: 0; margin-left: 25px;">
              </a>
            </div>
            
            <p style="color: #ffffff; padding: 25px; font-family: cursive; margin-top: -10px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ขาใช้งานต่าง ๆ ของ ESP32 รองรับการเชื่อมต่อบัสต่าง ๆ ดังนี้</p>
            <p style="color: #ffffff; padding: 25px; font-family: cursive; margin-top: -30px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- มี GPIO จำนวน 32 ช่อง</p>
            <p style="color: #ffffff; padding: 25px; font-family: cursive; margin-top: -36px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- รองรับ UART จำนวน 3 ช่อง</p>
            <p style="color: #ffffff; padding: 25px; font-family: cursive; margin-top: -36px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- รองรับ SPI จำนวน 3 ช่อง</p>
            <p style="color: #ffffff; padding: 25px; font-family: cursive; margin-top: -36px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- รองรับ I2C จำนวน 2 ช่อง</p>
            <p style="color: #ffffff; padding: 25px; font-family: cursive; margin-top: -36px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- รองรับ ADC จำนวน 12 ช่อง</p>
            <p style="color: #ffffff; padding: 25px; font-family: cursive; margin-top: -36px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- รองรับ DAC จำนวน 2 ช่อง</p>
            <p style="color: #ffffff; padding: 25px; font-family: cursive; margin-top: -36px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- รองรับ I2S จำนวน 2 ช่อง</p>
            <p style="color: #ffffff; padding: 25px; font-family: cursive; margin-top: -36px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- รองรับ PWM / Timer ทุกช่อง</p>
            <p style="color: #ffffff; padding: 25px; font-family: cursive; margin-top: -36px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- รองรับการเชื่อมต่อกับ SD-Card</p>

            <h2 style="color: #ffffff; text-align: center; margin-top: 20px;"> Simulator</h2><br>
            <div>
              <img id="image" src="resource/ESP8266/ESP82661LED_OFF.png" style="width: 350px; display: block; margin: 0 auto; margin-top: 30px; margin-left: 340px;">
              <label class="toggle" style="transform: translate(611px, -220px);">
                <input type="checkbox" id="toggleCheckbox">              
                <span class="slider round"></span>
              </label>
            </div>

            <h2 style="color: #ffffff; text-align: left; transform: translate(20px, 0px);"> Code</h2>
            <p style="font-family: 'Courier New', Courier, monospace; color: #4A9141; margin-top: 30px;">&nbsp;&nbsp;#define BLYNK_PRINT Serial</p>
            <p style="font-family: 'Courier New', Courier, monospace; color: #4A9141;">&nbsp;&nbsp;#define BLYNK_TEMPLATE_ID   "TMPLG*******"</p>
            <p style="font-family: 'Courier New', Courier, monospace; color: #4A9141;">&nbsp;&nbsp;#define BLYNK_TEMPLATE_NAME "te**"</p>
            <p style="font-family: 'Courier New', Courier, monospace; color: #4A9141;">&nbsp;&nbsp;#define BLYNK_AUTH_TOKEN    "DKWCSzBA0hYmfhHdl***************"</p>
            <p style="font-family: 'Courier New', Courier, monospace; color: #4A9141;">&nbsp;&nbsp;#define Vitual0 5</p><br>

            <p style="font-family: 'Courier New', Courier, monospace; color: #4A9141;">&nbsp;&nbsp;#include < BlynkSimpleEsp8266.h ></p><br>

            <p style="font-family: 'Courier New', Courier, monospace; color: #FFFFFF;">&nbsp;&nbsp;<span style="color: #0086B3;">char </span>ssid[] = "CNX";</p>
            <p style="font-family: 'Courier New', Courier, monospace; color: #FFFFFF;">&nbsp;&nbsp;<span style="color: #0086B3;">char </span>pass[] = "********";</p><br>

            <p style="font-family: 'Courier New', Courier, monospace; color: #FFFFFF;">&nbsp;&nbsp;BLYNK_WRITE(<span style="color: #0086B3;">V1</span>) {</p>
            <p style="font-family: 'Courier New', Courier, monospace; color: #FFFFFF;">&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #286491;">if </span>(param.asInt() == <span style="color: #0086B3;">1</span>) {</p>
            <p style="font-family: 'Courier New', Courier, monospace; color: #FFFFFF;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #0086B3;">digitalWrite</span>(Vitual0, HIGH);</p>
            <p style="font-family: 'Courier New', Courier, monospace; color: #FFFFFF;">&nbsp;&nbsp;&nbsp;&nbsp;} <span style="color: #286491;">else </span>{</p>
            <p style="font-family: 'Courier New', Courier, monospace; color: #FFFFFF;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #0086B3;">digitalWrite</span>(Vitual0, LOW);</p>
            <p style="font-family: 'Courier New', Courier, monospace; color: #FFFFFF;">&nbsp;&nbsp;&nbsp;&nbsp;}</p>
            <p style="font-family: 'Courier New', Courier, monospace; color: #FFFFFF;">&nbsp;&nbsp;}</p><br>

            <p style="font-family: 'Courier New', Courier, monospace; color: #FFFFFF;">&nbsp;&nbsp;<span style="color: #286491;">void</span> <span style="color: #0086B3;">setup</span>() {</p>
            <p style="font-family: 'Courier New', Courier, monospace; color: #FFFFFF;">&nbsp;&nbsp;&nbsp;&nbsp;Blynk.<span style="color: #0086B3;">begin</span>(BLYNK_AUTH_TOKEN, ssid, pass);</p> 
            <p style="font-family: 'Courier New', Courier, monospace; color: #FFFFFF;">&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #0086B3;">pinMode</span>(Vitual0, OUTPUT);</p>          
            <p style="font-family: 'Courier New', Courier, monospace; color: #FFFFFF;">&nbsp;&nbsp;}</p><br>

            <p style="font-family: 'Courier New', Courier, monospace; color: #FFFFFF;">&nbsp;&nbsp;<span style="color: #286491;">void</span> <span style="color: #0086B3;">loop</span>() {</p>
            <p style="font-family: 'Courier New', Courier, monospace; color: #FFFFFF;">&nbsp;&nbsp;&nbsp;&nbsp;Blynk.<span style="color: #0086B3;">run</span>();</p> 
            <p style="font-family: 'Courier New', Courier, monospace; color: #FFFFFF;">&nbsp;&nbsp;}</p>
          </td>          
        </tr>
        <tr>
          <td colspan="5" align="center" valign="middle" bgcolor="#212121">
            <p style="color: #ffffff;">งานกลุ่ม : CornaeX<br>เว็บไซต์นี้เป็นส่วนหนึ่งของวิชา การเขียนเว็บเพจ1 ว32296 อ.อุเทน สุขสิงห์ ผู้สอน</p>
          </td>
        </tr>
      </table>
      <script src="js/script_ESP.js"></script>
    </body>
  </html>