<!DOCTYPE html>
<html>
  <head>
    <title>OPEN KB</title>
    <link rel="My Website Icon" href="resource/N logo.png" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body oncontextmenu='return false' class='snippet-body'>
    <table width="1014" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-bottom: 300px;">
      <tr>
        <td height="250" colspan="5" align="center" valign="middle">
          <img src="resource/Untitled-1.png">
        </td>
      </tr>
      <tr>
        <td colspan="5" bgcolor="#212121"><marquee style="color: #ffffff;">Creative Projects Created By CornaeX</marquee></td>
      </tr>
        <tr>
          <td style="text-align: center; padding: 0; margin: 0; width: 204px; height: 72px;">
            <button type="button" style="display: none;"></button>
            <a class="a" href="/arduino" style="display: flex; align-items: center; justify-content: center; padding: 0; margin: 0; width: 204px; height: 72px; font-size: 20px;">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Arduino
              <img src="Section_Banner/S_Banner_Arduino.png" style="position: absolute; opacity: 40%; z-index: -1;">
            </a>
          </td>
          <td style="text-align: center; padding: 0; margin: 0; width: 204px; height: 72px;">
            <button type="button" style="display: none;"></button>
            <a class="a" href="/ipst" style="display: flex; align-items: center; justify-content: center; padding: 0; margin: 0; width: 204px; height: 72px; font-size: 20px;">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              IPST
              <img src="Section_Banner/S_Banner_IPST.png" style="position: absolute; opacity: 40%; z-index: -1;">
            </a>
          </td>
          <td style="text-align: center; padding: 0; margin: 0; width: 204px; height: 72px;">
            <button type="button" style="display: none;"></button>
            <a class="a" href="/esp8266" style="display: flex; align-items: center; justify-content: center; padding: 0; margin: 0; width: 204px; height: 72px; font-size: 20px;">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              ESP8266
              <img src="Section_Banner/S_Banner_ESP8266.png" style="position: absolute; opacity: 40%; z-index: -1;">
            </a>
          </td>
          <td style="text-align: center; padding: 0; margin: 0; width: 204px; height: 72px;">
            <button type="button" style="display: none;"></button>
            <a class="hovered" href="/openkb" style="display: flex; align-items: center; justify-content: center; padding: 0; margin: 0; width: 204px; height: 72px; font-size: 20px;">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Open KB
              <img src="Section_Banner/S_Banner_OpenKB.png" style="position: absolute; opacity: 0%; z-index: -1;">
            </a>
          </td>
          <td style="text-align: center; padding: 0; margin: 0; width: 204px; height: 72px;">
            <button type="button" style="display: none;"></button>
            <a class="a" href="/creater" style="display: flex; align-items: center; justify-content: center; padding: 0; margin: 0; width: 204px; height: 72px; font-size: 20px;">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              ผู้จัดทำ
              <img src="Section_Banner/S_Banner_Creater.png" style="position: absolute; opacity: 40%; z-index: -1;">
            </a>
          </td>
        </tr>
        <tr>
          <td height="262" colspan="5" valign="top" bgcolor="#323232">
            &nbsp;
            <div style="text-align: center;">
              <a href="https://inex.co.th/home/product/openkb/" target="_blank">
                <img src="resource/OpenKB/OpenKB1.png" style="height: 190px; display: inline-block; margin: 0;">
              </a>
              <a href="https://inex.co.th/home/product/openkb/" target="_blank">
                <img src="resource/OpenKB/OpenKB2.png" style="height: 200px; display: inline-block; margin: 0; margin-top: -20px; margin-left: 20px;">
              </a>
            </div>

            <p style="color: #ffffff; padding: 25px; font-family: cursive; font-style: italic;">OpenKB คืออะไร</p>
            <p style="color: #ffffff; padding: 25px; font-family: cursive; margin-top: -22px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;บอร์ดสมองกลที่ต่อยอดมาจาก Kidbright แพลทฟอร์มเพื่อการเรียนรู้แบบโอเพ่นซอร์สที่สนับสนุนโดย สวทช. INEX ทำการเพิ่มขีดความสามารถให้ยืดหนุ่นต่อการใช้งานและรองรับการต่อขยายอุปกรณ์เพิ่มเติมได้สะดวก ด้านการพัฒนาโค้ดใช้ได้ทั้งกับ Kidbrigt IDE และหากต้องการใช้งานความสามารถทางฮาร์ดแวร์ที่เพิ่มขึ้นทำได้โดยการติดตั้งปลั๊กอิน OpenKB ซึ่งทำไว้เรียบร้อยแล้ว โดยความร่วมมือจาก KidStore (ดาวน์โหลดปลั๊กอินที่ <a href="https://store.kidbright.info/plugin/20/OpenKB" style="color: aqua;">https://store.kidbright.info/plugin/20/OpenKB</a>)</p>
            
            <p style="color: #ffffff; padding: 25px; font-family: cursive; margin-top: -22px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;นอกจากนั้น เรายังมีพันธมิตรสำคัญคือ Maker Asia โดยได้ทำการผนวกบอร์ด OpenKB เป็นหนึ่งในบอร์ดที่พัฒนาโค้ดด้วย <br>KB-IDE อย่างเป็นทางการ ทำให้พัฒนาโค้ดได้ทั้งแบบบล็อกและแบบภาษา C</p>
            
            <div style="text-align: center;">
              <a href="https://inex.co.th/home/product/openkb/" target="_blank">
                <img src="resource/OpenKB/OpenKB3.png" style="height: 190px; display: inline-block; margin: 0;">
              </a>
              <a href="https://inex.co.th/home/product/openkb/" target="_blank">
                <img src="resource/OpenKB/OpenKB4.png" style="height: 200px; display: inline-block; margin: 0; margin-left: 50px;">
              </a>
            </div>

            <p style="color: #ffffff; padding: 25px; font-family: cursive; margin-top: -10px;;">คุณสมบัติทางเทคนิค OpenKB</p>
            <p style="color: #ffffff; padding: 25px; font-family: cursive; margin-top: -36px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- ใช้ไมโครคอนโทรลเลอร์ ESP32 ที่มีวงจร WiFi และบลูทูธกำลังงานต่ำในตัว</p>
            <p style="color: #ffffff; padding: 25px; font-family: cursive; margin-top: -36px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- มีส่วนแสดงผล LED ดอตเมตริกซ์ขนาด 16 x 8 จุด แบบสีแดง</p>
            <p style="color: #ffffff; padding: 25px; font-family: cursive; margin-top: -36px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- มี LED แสดงสถานะการทำงานที่จำเป็นอย่างครบถ้วน</p>
            <p style="color: #ffffff; padding: 25px; font-family: cursive; margin-top: -36px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- มีลำโพงเปียโซ</p>
            <p style="color: #ffffff; padding: 25px; font-family: cursive; margin-top: -36px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- มีวงจรสวิตช์กดติดปล่อยดับขนาดใหญ่ 2 ตัว</p>
            <p style="color: #ffffff; padding: 25px; font-family: cursive; margin-top: -36px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- มีวงจรฐานเวลานาฬิกาจริงพร้อมตัวเก็บประจุความจุสูงพิเศษหรือซูเปอร์คาปาซิเตอร์ เพื่อทำหน้าที่เป็นแหล่งจ่ายไฟสำรองสำหรับ<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;รักษาค่าเวลาเมื่อไม่มีไฟเลี้ยง สามารถรักษาค่าเวลาได้สูงสุด 90 ชั่วโมง (ประมาณ 4 วัน)</p>
            <p style="color: #ffffff; padding: 25px; font-family: cursive; margin-top: -36px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- มีสวิตช์ RESET การทำงาน</p>
            <p style="color: #ffffff; padding: 25px; font-family: cursive; margin-top: -36px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- เชื่อมต่อกับคอมพิวเตอร์ผ่านพอร์ต USB โดยใช้คอนเน็กเตอร์แบบ microUSB สำหรับการดาวน์โหลดโปรแกรมและสื่อสารข้อมูล<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;อนุกรม (โดยความสามารถในการสื่อสารข้อมูลขึ้นกับ IDE ที่เลือกใช้) และยังใช้ในการรับไฟเลี้ยง +5V ผ่านพอร์ต microUSB</p>
            <p style="color: #ffffff; padding: 25px; font-family: cursive; margin-top: -36px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- มีจุดต่อพอร์ตที่ใช้คอนเน็กเตอร์ JST 3 ขา รวม 10 ขา ประกอบด้วย</p>
              <p style="color: #ffffff; padding: 25px; font-family: cursive; margin-top: -36px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. พอร์ตอินพุตเอาต์พุตดิจิทัล ประกอบด้วย ขาพอร์ต 18, 19, 23 และ 27 ทั้งยังสามารถขับสัญญาณ PWM ได้ทุกขา<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;จึงนำไปขับเซอร์โวมอเตอร์ได้ โดยต่อวงจรและไฟเลี้ยงภายนอกเพื่อเลี้ยงเซอร์โวมอเตอร์</p>
              <p style="color: #ffffff; padding: 25px; font-family: cursive; margin-top: -36px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. พอร์ตอินพุตเอาต์พุตดิจิทัลและเป็นเอาต์พุตสัญญาณอานะล็อกและสร้างสัญญาณ PWM ได้ด้วย ประกอบด้วยขาพอร์ต 25<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;และ 26</p>
              <p style="color: #ffffff; padding: 25px; font-family: cursive; margin-top: -36px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. พอร์ตอินพุตดิจิตอลและอานะล็อก ประกอบด้วย ขาพอร์ต 32 ถึง 35</p>
            <p style="color: #ffffff; padding: 25px; font-family: cursive; margin-top: -10px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- มีจุดต่อบัส I2C1 สำหรับต่ออุปกรณ์ภายนอกเพิ่มเติมเพื่อขยายระบบทั้งแบบKB CHAIN 5 ขา และ แบบ JST 4 ขา</p>
            <p style="color: #ffffff; padding: 25px; font-family: cursive; margin-top: -36px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- ติดตั้งตัวตรวจจับแสงแบบ LDR</p>
            <p style="color: #ffffff; padding: 25px; font-family: cursive; margin-top: -36px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- ติดตั้งตัวตรวจจับอุณหภูมิที่ทำงานผ่านระบบบัส I2C</p>
            <p style="color: #ffffff; padding: 25px; font-family: cursive; margin-top: -36px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- รับไฟเลี้ยง +5V จากจุดต่อพอร์ต microUSB ผ่านวงจรควบคุมแรงดันคงที่หรือเรกูเลเตอร์ให้ได้ไฟเลี้ยงคงที่ที่ +3.3V<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สำหรับเลี้ยงวงจร</p>
            
            <h2 style="color: #ffffff; text-align: center; margin-top: 20px;"> Simulator</h2><br>
            <div>
              <img id="image2" src="resource/OpenKB/OpenKB1LED_OFF.png" style="height: 630px; display: block; margin: 0 auto; margin-top: 30px; margin-left: 310px;">
              <button id="toggleButton2" style=" width: 32px; height: 32px; border-radius: 50%; border: none; background-color: orange; transform: translate(457px, -464px); cursor: pointer;"></button>
            </div>

            <h2 style="color: #ffffff; text-align: left; transform: translate(20px, 0px);"> Code</h2>
            <img src="resource/OpenKB/OpenKB_Code.png" style="height: 600px;">
          </td>
        </tr>
        <tr>
          <td colspan="5" align="center" valign="middle" bgcolor="#212121">
            <p style="color: #ffffff;">งานกลุ่ม : CornaeX<br>เว็บไซต์นี้เป็นส่วนหนึ่งของวิชา การเขียนเว็บเพจ1 ว32296 อ.อุเทน สุขสิงห์ ผู้สอน</p>
          </td>
        </tr>
      </table>
      <script src="js/script_OpenKB.js"></script>
    </body>
  </html>